<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=lilita one">
    
</head>
<body>
    <div class="header-nav-cont">
        <header>
            <div class="page-icon-cont">
                <a routerLink="">
                    <h2>Fore<span>Trust</span></h2>
                    <p>Tech School</p>
                </a>
            </div>
            <div class="menu-cont">
                <img class="menu-icon" src="assets/icons/list.svg" alt="" (click)="onMenuIconClick()">
            </div>
        </header>
    </div>
    <app-nav></app-nav>
</body>
</html>