
nav{
    background-color: rgb(30, 28, 28);
    color: white;
    position: fixed;
    top: 80px;
    right: 80%;
    left: 0;
    bottom: 0;
    padding: 0 0 10px 0;
}

.list-cont, .list-sub-osi, .list-sub-tcp-ip{
    display: flex;
    flex-direction: column;
}

.list-sub-osi a, .list-sub-tcp-ip a{
    padding-left: 30px;
}


.list-sub-osi.show {
    display: block;
}

.list-sub-tcp-ip.show {
    display: block;
}

.showOSI {
    display: none;
}

.showTCPIP {
    display: none;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    font-size: 110%;
    color: white;
    padding: 5px 10px;
}

a:hover{
    background-color: white;
    color: black;
}

a:active, li:active, b:active{
    opacity: 0.6;
}


a{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}



@media screen and (max-width: 850px) {
    nav{
        right: 0;
        text-align: center;
    }
    .list-sub-osi a, .list-sub-tcp-ip a{
        padding-left: 0;
    }
    
    a{
        padding: 5px 0;
    }

    .navDisplay{
        display: none;
    }
}